<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drug Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3811cdfa76.js" crossorigin="anonymous"></script>
    <style>
        .btn-header {
            background-color: transparent;
            color: white;
        }

        .btn-header:hover {
            background-color: transparent;
            color: #e7e7e7;
        }
    </style>
</head>
<body class="d-flex flex-column align-items-center justify-content-space-between min-vh-100">
<header class="bg-danger text-white p-4 w-100 d-flex justify-content-between align-items-center">
    <a href = "/" style="text-decoration: none; color: white;"><h3 style="font-family: Montserrat, sans-serif; font-weight: 800;">MedStock</h3></a>
    <div>
        <a href="/" class="btn btn-header"><i class="fa-solid fa-house"></i></a>
        <a href="/perform_logout" class="btn btn-header"><i class="fa-solid fa-right-from-bracket"></i></a>
    </div>
</header>
<main class="d-flex w-100 flex-grow-1 flex-column align-items-center justify-content-center">
    <div class="container card p-0">
        <div class="card-header">
            <h2 class="card-title">Drug Details</h2>
        </div>
        <div class="card-body">
            <p><strong>ID:</strong> <span th:text="${drug.id}">1</span></p>
            <p><strong>Name:</strong> <span th:text="${drug.name}">Paracetamol</span></p>
            <p th:if="${drug.description != ''}"><strong>Description</strong> <span th:text="${drug.description}">Pain relief</span></p>
            <p><strong>Manufacturer:</strong> <span th:text="${drug.manufacturer}">Pharma Inc.</span></p>
            <p><strong>Main Component:</strong> <span th:text="${drug.mainComponent}">Paracetamol</span></p>
            <p th:if="${drug.secondaryComponent != ''}"><strong>Secondary Component:</strong> <span th:text="${drug.secondaryComponent}">Paracetamol</span></p>
            <p th:if="${drug.suppliers != null}"><strong>Suppliers:</strong> <span th:each="supplier : ${drug.suppliers}"><span th:text="${supplier.name}">Paracetamol</span></span></p>
        </div>
        <a th:href="@{/drugs}" class="btn btn-danger">Back to Drug List</a>
    </div>
</main>
<footer class="bg-dark text-white py-3 w-100 d-flex align-items-center justify-content-center">
    <p class="m-0">&copy; MedStock</p>
</footer>
</body>
</html>
